body {
    background-color: #FAFAEA
}

.title {
    padding: 25px 0;
    p {
        font-size: 18px;
        font-weight: bold;
    }
}

.main-header {
    padding: 5px;
    background-color: #082659;
    top: 36px;
}

.cards-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .card {
        background-color: white;
        box-shadow: black;
        padding: 16px;
        margin: 5px;
    }
    .label-card {
        font-size: 15px;
        font-weight: bold;
    }
    .number-card {
        font-size: 15px;
        font-weight: bold;
        margin-left: 10px
    }
    .icon {
        color: #49c3ce;
        float: right;
        font-size: 3em;
        padding: 5px
    }
}

.footer {
    padding: 30px;
    background-color: #000;
    text-align: left;
    p{
        color: white;
        font-size: 13px;
        font-weight: bold;
    }
}