<select class="form-control" ng-options="repository as repository.name for repository in ctrl.repositories" ng-model="ctrl.repositorySelected"
    ng-change="ctrl.loadInfosRepo()">
    <option value="">Selecione o repositório</option>
    </select>

<div class="row">
    <div class="cards-section">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <i class="glyphicon glyphicon-star icon"></i>
                <p class="label-card">Stars:</p>
                <p class="number-card">{{ctrl.repositorySelected.stargazers_count}}</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <i class="glyphicon glyphicon-duplicate icon"></i>
                <p class="label-card">Forks:</p>
                <p class="number-card">{{ctrl.repositorySelected.forks_count}}</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <i class="glyphicon glyphicon-user icon"></i>
                <p class="label-card">Contributors</p>
                <p class="number-card">{{ctrl.repositorySelected.forks_count}}</p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <canvas id="base" class="chart-bar" chart-data="[ctrl.canvas.data]" chart-labels="ctrl.canvas.labels" chart-colors="ctrl.canvas.colors"
            chart-dataset-override="ctrl.canvas.datasetOverride" height="105px"></canvas>
    </div>

</div>